.todo {
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: var(--text-main);
}

.status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.status.Completed {
  border: 1px solid var(--completed);
}
.status.InProgress {
  border: 1px solid var(--inProgress);
}
.status.NotStarted {
  border: 1px solid var(--notStarted);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-main);
  margin-bottom: 10px;
}
.description {
  font-size: 1rem;
  color: var(--text-secondary);
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.priorityText,
.statusText {
  color: var(--text-main);
  font-weight: 600;
}

.result.Completed,
.result.Low {
  color: var(--completed);
}
.result.InProgress,
.result.Moderate {
  color: var(--inProgress);
}
.result.NotStarted,
.result.High {
  color: var(--notStarted);
}

.date {
  font-size: 0.9rem;
  color: var(--text-secondary);
}
