.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-main);
}

.form h1 {
  color: var(--text-main);
  margin-bottom: 20px;
}

.form {
  background-color: var(--bg-secondary);
  padding: 2rem;
  border-radius: 1rem;
  width: 70%;
  max-width: 400px;
}
